#main-contain {
  display: grid;
  color: #e5e5e5;
  font-family: Poppins, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  margin: 2rem 0;
  width: 100%;
}

.nav-ul {
  display: flex;
  gap: 20px;
  padding-right: 3rem;
}

.nav-li {
  text-decoration: none;
  list-style: none;
  color: blue;
}

.page-hero {
  padding: 5rem 0;
}
